*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Lambda Function binary
resources/lambda_functions/*/bin

# Environment values
.env

# Lambda Function invoke test
out